/* GLOBAL */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-muted: #6c757d;
  --color-main: #fed135;
  --navbar-height: 54px;
}

body {
  font-family: "Roboto Slab", serif;
  overscroll-behavior-y: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}

h4 {
  font-size: 1.5rem;
}

:target {
  padding-top: var(--navbar-height);
  margin-top: calc(-1 * var(--navbar-height));
  display: inline-block;
}

/* Navbar */
.navbar {
  transition: padding-top 0.3s, padding-bottom 0.3s;
  font-family: "Montserrat";
  position: fixed;
  padding: 2em 1em;
  z-index: 99;
  width: 100%;
}
.navbar a {
  color: #fff;
  text-decoration: none;
}
.navbar > .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1140px;
}
.navbar-menu {
  display: inline-flex;
  font-size: 0.875em;
  letter-spacing: 1px;
  list-style: none;
  margin: 0;
  text-transform: uppercase;
}
.navbar-menu li {
  padding: 1em;
}
.navbar-menu a:hover {
  color: var(--color-main);
}
.navbar-brand {
  color: var(--color-main) !important;
  display: inline-block;
  font-family: "Kaushan Script";
  font-size: 1.75em;
  line-height: 30px;
  transition: font-size 0.2s linear;
}

.navbar-shrink {
  background-color: #212529;
  padding: 0 1em;
}
.navbar-shrink .navbar-brand {
  font-size: 1.25em;
  padding: 12px 0;
}

/* Hero */
header.hero {
  text-align: center;
  color: #fff;
  background-image: url(https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
.hero-text {
  padding: 300px 0 200px 0;
}
.intro-lead {
  font-family: "Noto Serif", serif;
  font-size: 2.5em;
  font-style: italic;
  margin-bottom: 0.5em;
}
.intro-heading {
  font-family: "Montserrat";
  font-size: 4.5em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 75px;
  margin-bottom: 0.5em;
}
.hero-text button {
  cursor: pointer;
  color: #fff;
  background-color: var(--color-main);
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  padding: 1em 2em;
}
.hero-text button:hover {
  background-color: #fec810;
}

/* Section - General */
.page-section {
  padding-top: calc(100px + var(--navbar-height));
  padding-bottom: calc(100px - var(--navbar-height));
}
.page-section > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.section-heading {
  flex-basis: 100%;
  font-family: "Montserrat";
  font-size: 40px;
  line-height: 1.2;
  margin: 0 0 15px;
  text-transform: uppercase;
  text-align: center;
}
.section-subheading {
  flex-basis: 100%;
  color: var(--color-muted);
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  margin: 0 0 75px;
  text-align: center;
}

/* Section - Services */
.service-heading {
  font-family: "Montserrat";
  margin: 15px 0;
}
.service-item {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  align-items: center;
  padding: 0 1em;
}
.service-item i:first-child {
  color: var(--color-main);
}
.service-item p {
  color: var(--color-muted);
  margin: 0 0 1rem;
  text-align: center;
  line-height: 1.75;
}
