/* GLOBAL */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-muted: #6c757d;
  --color-main: #fed135;
  --navbar-height: 54px;
}
html,
body {
  height: 100%;
}

body {
  font-family: "Roboto Slab", serif;
  overscroll-behavior-y: none;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}

h4 {
  font-size: 1.5rem;
}

p {
  line-height: 1.75;
}

a {
  text-decoration: none;
}

/* Text styles */
.text-muted {
  color: var(--color-muted);
}

/* Navbar */
.navbar {
  transition: padding-top 0.3s, padding-bottom 0.3s;
  font-family: "Montserrat";
  position: fixed;
  padding: 2em 1em;
  z-index: 100;
  width: 100%;
}
.navbar a {
  color: #fff;
}
.navbar > .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.navbar-menu {
  display: inline-flex;
  font-size: 0.875em;
  letter-spacing: 1px;
  list-style: none;
  margin: 0;
  text-transform: uppercase;
}
.navbar-menu li {
  padding: 1em;
}
.navbar-menu a:hover {
  color: var(--color-main);
}
.navbar-menu .active {
  color: var(--color-main);
}
.navbar-brand {
  color: var(--color-main) !important;
  display: inline-block;
  font-family: "Kaushan Script";
  font-size: 1.75em;
  line-height: 30px;
  transition: font-size 0.2s linear;
}

.navbar-shrink {
  background-color: #212529;
  padding: 0 1em;
}
.navbar-shrink .navbar-brand {
  font-size: 1.25em;
  padding: 12px 0;
}

/* Hero */
header.hero {
  text-align: center;
  color: #fff;
  background-image: url(https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg) !important;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
.hero-text {
  padding: 300px 0 200px 0;
}
.intro-lead {
  font-family: "Noto Serif", serif;
  font-size: 2.5em;
  font-style: italic;
  margin-bottom: 0.5em;
}
.intro-heading {
  font-family: "Montserrat";
  font-size: 4.5em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 75px;
  margin-bottom: 0.5em;
}
.hero-text button {
  cursor: pointer;
  color: #fff;
  background-color: var(--color-main);
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  padding: 1em 2em;
}
.hero-text button:hover {
  background-color: #fec810;
}

/* Section - General */
.page-section {
  padding: 100px 0;
}
.page-section > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.page-section:nth-child(2n) {
  background-color: #f8f9fa;
}

.section-heading {
  flex-basis: 100%;
  font-family: "Montserrat";
  font-size: 40px;
  line-height: 1.2;
  margin: 0 0 15px;
  text-transform: uppercase;
  text-align: center;
}
.section-subheading {
  flex-basis: 100%;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  margin: 0 0 75px;
  text-align: center;
}

/* Section - Services */
.service-heading {
  font-family: "Montserrat";
  margin: 15px 0;
}
.service-item {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  align-items: center;
  padding: 0 1em;
  text-align: center;
}
.service-item i:first-child {
  color: var(--color-main);
}
.service-item p {
  margin: 0 0 1rem;
}

/* Section - Portfolio */
.portfolio-item {
  background-color: #fff;
  flex-basis: 30%;
  margin-bottom: 30px;
}
.portfolio-link {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 100%;
}
.portfolio-caption {
  padding: 25px;
  text-align: center;
}
.portfolio-caption h4 {
  font-family: "Montserrat";
  margin: 0;
}
.portfolio-caption p {
  font-style: italic;
  margin: 0;
}

/* Section - About */
.timeline {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.timeline::before {
  content: " ";
  background-color: #e9ecef;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
}
.timeline > li {
  display: flex;
  margin-bottom: 100px;
}

/* Timeline Panel */
.timeline-panel {
  padding: 0 20px 20px;
  text-align: right;
  width: 41%;
}
.timeline-heading {
  font-family: "Montserrat";
}
.timeline-heading > h4 {
  margin: 0 0 0.5rem;
}
.timeline-body p {
  margin: 0;
}
.timeline-inverted {
  flex-direction: row-reverse;
}
.timeline-inverted .timeline-panel {
  text-align: left;
}

/* Timeline image */
.timeline-image {
  border: 7px solid #e9ecef;
  border-radius: 50%;
  left: 50%;
  margin-left: -75px;
  position: absolute;
  vertical-align: middle;
  height: 150px;
  width: 150px;
}
.timeline-image > img {
  width: 100%;
  border-radius: 50%;
}
.timeline-image:last-child {
  background-color: var(--color-main);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.timeline-image:last-child h4 {
  color: #fff;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
}
.timeline-image:last-child a {
  color: #fff;
}
.timeline-image:last-child a:hover {
  text-decoration: underline;
  color: var(--color-muted);
}
